/* webpage styling */
h1{
    color:#05386B;
    text-align: center;
}
h2{
    color: #05386B;
}
h3{
    color:#0e2c4b;
    font-size: 16px;
}
h4{
    color:#0a2b40;
    font-size: 18px;
}
body{
    background:#5CDB95;
}
a {
    color: inherit;
    color: #0a2b40;
  }
h5{
    text-align: left;
}

nav{
    text-align: center;
}

.box{
    color: #1b6758;
    width: 100%;
    height: 500px;
    width: 25em;
    text-align: center;
}
.insideBox{
    background-color: #edf5e1;
    text-align: left;
    border: 5px solid;
    margin-bottom: 20px;
}
.tableRow{
    border: 5px solid #1b6758;
}
.projectView{
    text-align: center;
}
.commentsBox{
    border: 2px solid gray;
    padding-bottom: 20px;
    width: 200px;
    padding-right: 20px;
}
