/* webpage styling */
h1{
    color:#2e9cca;
    text-align: center;
}
h2{
    color: #2e9cca;
}
h3{
    color: #2e9cca
}
h4{
    color:#6eb0dc;
    font-size: 18px;
}
body{
    background:#25274d;
}
a {
    color: inherit;
    color: #c1c7f2;
  }
h5{
    text-align: left;
}

nav{
    text-align: center;
}

.box{
    color:#c1c7f2;
    width: 100%;
    height: 500px;
    width: 25em;
    text-align: center;
    text-decoration:none;
}
.insideBox{
    background-color: #29648a;
    text-align: left;
    border: 5px solid;
    margin-bottom: 20px;
}
.tableRow{
    border: 5px solid #0b3b67;
}
.tableRow2{
    border: 5px solid #1b6758;
    width: 15em;
}
.projectView{
    text-align: center;
}
.commentsBox{
    border: 2px solid gray;
    padding-bottom: 20px;
    width: 200px;
    padding-right: 20px;
}
