<!-- landing page for app -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>New Project</title>
        <!--styles-->
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css')}}">
    </head>
    <body>
        <h1>Welcome {{user.username}}!</h1>
        <nav>
            <!--Add other pages-->
            <a href="{{ url_for('index') }}">Home</a> ||
            <a href="{{ url_for('new_project') }}">Create Project</a>        
        </nav>
        <h2>Create new project below</h2>
        <form action="new_project" method="post">
            <p><label>Title </label></p><p>  <input type="text" name="title"/></p>
            <p><label>Note </label></p>
            <p>
                <textarea name="detail"  rows="6" cols="0" >
                        Add a description of your project here
                </textarea>
            </p>
            <p>
                <textarea name="company_name"  rows="6" cols="0" >
                        Add a company name here
                </textarea>
            </p>
            <input type="submit" value="Add Project"/>
        </form>
    </body>
</html>