<!-- landing page for app -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>View Project</title>
        <!--styles-->
        {% if theme == 1 %}
            <link rel="stylesheet" href="{{ url_for('static', filename='main.css')}}">
        {% else %}
            <link rel="stylesheet" href="{{ url_for('static', filename='second.css')}}">
        {% endif %}
    </head>
    <body>
        <h1>Welcome {{user}}!</h1>
        <nav>
            <!--Add other pages-->
            <a href="{{ url_for('index') }}">Home</a> <a>||</a>
            <a href="{{ url_for('new_project') }}">Create Project</a> <a>||</a>
            <a href="{{ url_for('change_style', theme_id=theme) }}" method = "get">Change Theme</a> <a>||</a>
            <a href="{{ url_for('logout') }}">Logout</a>
            
        </nav>
        <div class="projectView">
            <h2>{{task.title}}</h2>
            <h3>{{task.description}}</h3>
            <form action="{{ url_for('get_project', project_id=project.id)}}" method = "get">
                <input type="submit" value="Back">
            </form>
        </div>
        <h2>Comments</h2>
        <div class="commentsBox">
            {% for comment in task_comments %}
            <h4><ul>{{ comment.name }}: {{ comment.comment }}</ul></h4>
            {% endfor %}
        </div>
        <form action="{{ url_for('new_comment', project_id=project.id, t_id=task.id) }}" method="post">
            <div>
                <h2 class="title">Add a comment</h2>
                <textarea name="comment" rows="6" cols="0"></textarea>
            </div>
            <input type="submit" value="Submit">
        </form>
    </body>
</html>