<!-- landing page for app -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>View Project</title>
        <!--styles-->
        {% if theme == 1 %}
            <link rel="stylesheet" href="{{ url_for('static', filename='main.css')}}">
        {% else %}
            <link rel="stylesheet" href="{{ url_for('static', filename='second.css')}}">
        {% endif %}
    </head>
    <body>
        <h1>Welcome {{user}}!</h1>
        <nav>

            <!--Add other pages-->
            <a href="{{ url_for('index') }}">Home</a> <span class="nav-spacing">||</span>
            <a href="{{ url_for('new_project') }}">Create Project</a> <span class="nav-spacing">||</span>
            <a href="{{ url_for('change_style', theme_id=theme) }}" method = "get">Change Theme</a> <span class="nav-spacing">||</span>
            <a href="{{ url_for('logout') }}">Logout</a>
           
        </nav>
        
        <div class="projectView">
            <h2>{{project.title}} || {{project.company_name}}</h2>
            <!--<form action="{{ url_for('new_task', project_id=project.id)}}">
                <input type="submit" value="Create New Task">
            </form>-->
        </div>

        <div class="table-header">
            <h2>Here are your tasks below!</h2>
            
        </div>
        <div class="box">

            <table class="insideBox"> 
                {% if proj_tasks != [] %}
                    <tr>
                        <td><h3>Title</h3></td>
                        <td><h3>Description</h3></td>
                    </tr>
                    {% for task in proj_tasks%}
                    <!--Add start of for loop here-->
                    <tr>
                        <td class="tableRow"><a href="{{ url_for('view_task', project_id=project.id, t_id=task.id)}}">{{task.title}}</a></td>
                        <td class="tableRow3">{{task.description}}</td>
                        <td>
                            <form action="{{url_for('edit_task',project_id=project.id,t_id=task.id)}}" method = "get">
                                <input type="submit" value="Edit">
                            </form>
                            <form action="{{url_for('delete_task',project_id=project.id,t_id=task.id)}}" method = "post">
                                <input type="submit" value="Delete">
                            </form>
                        </td>
                    </tr>
                    <!--Add end of for loop here-->
                    {% endfor %}
                {% else %}
                    <tr><h3>No tasks to display.</h3></tr>
                {% endif %}
            </table>
            <div class="projectView">
                <form action="{{ url_for('new_task', project_id=project.id)}}">
                        <input type="submit" value="Create New Task">
                </form><br>
                <form action="{{ url_for('index')}}" method = "get">
                    <input type="submit" value="Back Home">
                </form>
            </div>

        </div>

    </body>

</html>