<!-- landing page for app -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>View Project</title>
        <!--styles-->
        {% if theme == 1 %}
            <link rel="stylesheet" href="{{ url_for('static', filename='main.css')}}">
        {% else %}
            <link rel="stylesheet" href="{{ url_for('static', filename='second.css')}}">
        {% endif %}
    </head>
    <body>
        <h1>Welcome {{user}}!</h1>
        <nav>

            <!--Add other pages-->
            <a href="{{ url_for('index') }}">Home</a> ||
            <a href="{{ url_for('new_project') }}">Create Project</a> ||
            <a href="{{ url_for('change_style', theme_id=theme) }}" method = "get">Change Theme</a> ||
            <a href="{{ url_for('logout') }}">Logout</a>
           
        </nav>
        
        <div class="projectView">
            <h2>{{project.title}}</h2>
            <form action="{{ url_for('new_task', project_id=project.id)}}">
                <input type="submit" value="Create New Task">
            </form>
        </div>
        <h3>Title&emsp;Description</h3>
        <div class="box">

            <table class="insideBox"> 
                {% for task in proj_tasks%}
                <!--Add start of for loop here-->
                <tr>
                    <td><a href="{{ url_for('view_task', project_id=project.id, t_id=task.id)}}">{{task.title}}</a></td>
                    <td>{{task.description}}</td>
                    <td>
                        <form action="{{url_for('edit_task',project_id=project.id,t_id=task.id)}}" method = "get">
                            <input type="submit" value="Edit">
                        </form>
                        <form action="{{url_for('delete_task',project_id=project.id,t_id=task.id)}}" method = "post">
                            <input type="submit" value="Delete">
                        </form>
                    </td>
                </tr>
                <!--Add end of for loop here-->
                {% endfor %}
            </table>

        </div>
    </body>
</html>